<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128338547880-40pf756cceeru7uoj7pil8lnqa8j09l3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128338547880-40pf756cceeru7uoj7pil8lnqa8j09l3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>128338547880-bdgihnc1ps4n5c5upksle359ufp5f08b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXCdsIlJ8tl6TgTBzoD1dwdWnTwj3t1jQ</string>
	<key>GCM_SENDER_ID</key>
	<string>128338547880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bacon</string>
	<key>PROJECT_ID</key>
	<string>bacon-70636</string>
	<key>STORAGE_BUCKET</key>
	<string>bacon-70636.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128338547880:ios:835e5427332db0cbb95e9d</string>
</dict>
</plist>